body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #065c05, #191775, #a67117, #732415);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  font-family: 'Press Start 2P', cursive;
  text-align: center; /* Asegura que el texto esté centrado */
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.title {
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
  z-index: 2;
}

.status-container {
  text-align: center; /* Asegura que los textos estén centrados */
  margin-bottom: 20px;
}

.percentage, .coins {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
  z-index: 2;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-button, .salir-button {
  padding: 15px 30px;
  font-size: 9px;
  background-color: #ff007f;
  color: white;
  border: 3px solid #ffb300;
  border-radius: 10px;
  font-family: 'Press Start 2P', cursive;
  box-shadow: 0 0 15px rgba(255, 0, 127, 0.6), 0 0 25px rgba(255, 179, 0, 0.8);
  cursor: pointer;
  user-select: none;
  outline: none;
  text-align: center;
  transition: none;
  margin-bottom: 10px;
}

.salir-button {
  background-color: #2d8cf0;
  box-shadow: 0 0 15px rgba(45, 140, 240, 0.6), 0 0 25px rgba(255, 179, 0, 0.8);
}

.salir-text, .start-text {
  font-size: 16px;
}
